name: WhatsApp Automation

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          persist-credentials: true

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Run WhatsApp bot
        run: npm start

      - name: Commit session & dashboard
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"

          # add only session + dashboard
          git add session dashboard
          git commit -m "update session & dashboard $(date +%F)" || echo "No changes"
          git push
